@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "../public/styles/colors.scss";

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: $slate-100;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}
